<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Proyecto Fitness{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
                <li><a href="{{ url_for('auth.login') }}">Iniciar sesión</a></li>
                <li><a href="{{ url_for('auth.registro') }}">Registrarse</a></li>
                <li><a href="{{ url_for('auth.quienes') }}">¿Quiénes somos?</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 - Proyecto Fitness</p>
    </footer>
</body>
</html>