{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="inicio-contenedor">
  <h1>Bienvenido a FitGraph</h1>
  <p>Tu plataforma inteligente de entrenamiento físico personalizado.</p>

  <div class="botones-inicio">
    <a href="{{ url_for('auth.login') }}" class="btn">Iniciar sesión</a>
    <a href="{{ url_for('auth.registro') }}" class="btn">Registrarse</a>
    <a href="{{ url_for('auth.quienes') }}" class="btn">¿Quiénes somos?</a>
  </div>
</div>
{% endblock %}