<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>GymAI - Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>GymAI.com</header>

    <nav class="navbar">
        <a href="#">Quiénes Somos</a>
        <a href="#">Información Importante</a>
        <a href="#">Membresías</a>
    </nav>

    <div class="main-content">
        <div class="image-area">
            <p>Foto de personas fuertes ejemplares de gimnasio</p>
            <p><em>“Tu cuerpo puede soportar casi todo… es tu mente la que tienes que convencer.”</em></p>
        </div>

        <div class="side-buttons">
            <a href="#">Iniciar sesión</a>
            <a href="/registro">Registrarme</a>
        </div>
    </div>
</body>
</html>
