<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión - GymAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav class="navbar">
        <a href="/">Inicio</a>
        <a href="/registro">Registrarse</a>
    </nav>

    <div class="main-content registro-separado">
        <form action="/login" method="POST">
            <h1>Iniciar Sesión</h1>

            {% if error %}
                <p style="color: red; font-weight: bold;">{{ error }}</p>
            {% endif %}

            <label>Correo electrónico</label>
            <input type="email" name="email" required>

            <label>Contraseña</label>
            <input type="password" name="password" required>

            <button type="submit">Entrar</button>
        </form>
    </div>

</body>
</html>
